{% extends "base.html" %}

{% block content %}
	<style type="text/css">
		body{
			font-family: san-serif;
			width: 800px;
			margin: auto;
			padding: 10px;
		}
		.error{
			color: red;
		}
		label{
			display: block;
			font-size: 20px;
		}
		input[type=text]{
			width: 400px;
			font-size: 20px;
			padding: 2px;
		}
		textarea{
			width:400px;
			height: 200px;
			font-size: 17px;
			font-family: monospace;
		}
		input[type=submit]{
			font-size: 24px;
		}
	</style>
	<body>
		<h2>New post</h2>
		<form method="post">
			<label>
				<div>Title</div>
				<input type="text" name="title" value="{{title}}"> 
			</label>
			<label>
				<div>Content</div>
				<textarea name="content">{{content}}</textarea>
			</label>
			<div class="error">{{error}}</div>
			<input type="submit">
		</form>
	</body>
{% endblock %}